@import url('https://fonts.googleapis.com/css?family=Comfortaa');

html, body {
}
.main-head {
  grid-area: header;
  font-size: 2em;
  padding-left: 0px;
  position: sticky;
  margin-bottom: 0;
}

h1 {margin-bottom: 0;}

.main-head h2 {
  font-size: 1.5em;
  margin-top: 0%;
}
.content1 {
  grid-area: content1;
}
.content2 {
  grid-area: content2;
}
.main-nav {
  display: none;
  grid-area: nav;
  border: ghostwhite 1px solid;
  /* visibility: hidden; */
}
.side1 {
  display: flex;
  flex-flow: column;
  justify-content: start;
  grid-area: sidebar1;
  padding-left: 25px;
}

aside p {
  text-align: right;
}

.side1 h2 {
 font-size: 30px;
 text-align: right;
}

.side2 {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  grid-area: sidebar2;
  padding-left: 25px;
}

.side2 h2 {
 font-size: 30px;
 text-align: right;
}

.tools {
  padding-top: 10px;
  grid-area: tools;
  /* border: ghostwhite 1px solid; */
}
.main-footer {
  padding: 80px;
  margin: 50px 0;
  grid-area: footer;
}

.wrapper {
    font-family: 'Comfortaa', cursive;
    /* grid-gap: 20px; */
    /* grid-template-columns: 2fr;
    grid-template-areas: 
        "header"
        "nav"
        "sidebar1"
        "content1"
        "content2"
        "sidebar2"
        "tools"
        "footer"; */
    background-color: rgb(188,190,192);
    padding: 20px;
    /* box-shadow: -40px 40px 80px -30px rgba(7, 7, 10, .5); */
}
/* two column layout */

@media (min-width: 450px) {
.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 3fr; 
    grid-template-areas: 
        "header  header"
        "nav     nav"
        "sidebar1 content1"
        "sidebar1 content2"
        "sidebar2 tools"
        "footer  footer"
}
.main-head {
  padding-left: 60px;
}
}


@media (min-width: 1000px) {
.wrapper {
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas:
        "header  header  header"
        "nav     nav     nav"
        "sidebar1 content1 content2"
        "sidebar1 content1 content2"
        "sidebar2 tools tools"
        "footer  footer  footer"
}
}

select { 
  border: none;
  width: 40%;
  height: 40px;
}
option {
  font-size: 14px;
}
line    {stroke:rgb(136, 133, 133);shape-rendering: crispEdges;}
text    {text-anchor:middle;}
circle {stroke:orange;fill-opacity:0.7;}
.axis line {fill:none;stroke:#ddd;shape-rendering: crispEdges;}
.axis path  {fill:none;}
.axis text {font-size:0.7em;fill:#555;font-family:sans-serif}
svg {background-color: ghostwhite;
  box-shadow: 0px 40px 80px -30px rgba(7, 7, 10, .5);
  margin-bottom: 60px;
  transition: all .4s cubic-bezier(.03,.98,.52,.99);
}
svg:hover {
  transition: all 1s cubic-bezier(.03,.98,.52,.99);
  box-shadow: 30px 80px 120px -60px rgba(7, 7, 10, .7);
}